<!doctype html>
{% load i18n %}
{% load static %}
{% block projects-section %}
<div class="container">
    <div class="section-title">
        <h2>{% trans "Projects" %}</h2>
        <div class="row portfolio-row">
            <div class="portfolio-item-wrapper wp5">
                <!-- Modal Trigger -->
                <a href="#" class="projects-item d-block" data-bs-toggle="modal" data-bs-target="#litreviewModal">
                    <div class="projects-overlay"></div>
                    <img src="{% static 'images/ProjectGallery/project-6.png' %}" alt="Project Image" class="img-fluid">
                    <div class="projects-info mt-2 text-center">
                        <h3>Literature Review</h3>
                    </div>
                </a>
            </div>
            <div class="portfolio-item-wrapper wp5">
                <!-- Modal Trigger -->
                <a href="#" class="projects-item d-block" data-bs-toggle="modal" data-bs-target="#litreviewModal">
                    <div class="projects-overlay"></div>
                    <img src="{% static 'images/ProjectGallery/project-6.png' %}" alt="Project Image" class="img-fluid">
                    <div class="projects-info mt-2 text-center">
                        <h3>Literature Review</h3>
                    </div>
                </a>
            </div>
        </div>    
    </div>
</div>
{% endblock projects-section %}